<!DOCTYPE html>
<html>

<head>
    <title>Polymer Drug App</title>
</head>

<body>

    <h1>Add Drug Details</h1>

    <form action="/add" method="POST">

        <input type="text" name="drug" placeholder="Drug Name" required>

        <br><br>

        <input type="text" name="polymer" placeholder="Polymer Name" required>

        <br><br>

        <input type="text" name="solubility" placeholder="Solubility" required>

        <br><br>

        <input type="text" name="release" placeholder="Release Time" required>

        <br><br>

        <input type="text" name="circulation" placeholder="Circulation Time" required>

        <br><br>

        <button type="submit">Save Drug</button>

    </form>

</body>
</html>